<html ng-app="toDoList">
	<head>
		<meta charset="UTF-8"> 
		
		<title>To do list</title>
		
		<script src="lib/angular/angular.js"> </script>
		<script src="controller/toDoList-controller.js"> </script>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="lib/css/toDoList.css">
	</head>

	<body ng-controller="toDoListCtr as vm" class="planoFundo">

		<fieldset class="centralizar">
			<div >
				<h1>To do List</h1>
				
				<div>
					
					<input 	class="campoEntrada"
							placeholder="add um item"
							type="text"
							name="nomeTarefa"
							id="nomeTarefa"
							ng-model="vm.nomeTarefa">
					
					<button type="button" ng-disabled="vm.nomeTarefa.length == 0" ng-click="vm.adicionarTarefa();" class="btn">Add</button>
					<button type="button" ng-click="vm.limparLista();" class="btn">Limpar Lista</button>		
					
				</div>	
				
				<progress id="pg" max="100" value="0"> 0 </progress>
				<span>{{vm.porcentagem}}%</span>
				
				<div class="tarefasContabilizadas">
					<label> Total de tarefas a completar: {{vm.totalTarefasCompletar}} </label>
					<label>	Completos: {{vm.totalTarefasTerminada}} </label>
				</div>
				
				
				<table>
					<tbody >
						<tr ng-repeat="tarefa in vm.listaTarefas">
							<td><input style="cursor: pointer; width: 20px;" type="checkbox" ng-model="tarefa.concluida" ng-checked="tarefa.concluida == true" ng-change="vm.contabilizarTarefa()"></td>
	                		<td ng-class="(tarefa.concluida === true) ? 'tarefaConcluida' : 'tarefaAFazer' " >{{tarefa.nomeTarefa}}</td>
							<td  ng-click="vm.excluirTarefa(tarefa)"> <img  style="cursor: pointer;" src="lib/img/x.png" title="Excluir Tarefa"  height="15" width="15"> </td>
						</tr>
					</tbody>
				</table>

			</div>
						
		</fieldset>
		
		
	</body>
</html> 